header {
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: end;
  border-bottom: .3rem solid darkgrey;
}

h1 {
  grid-column: 1/span 2;
  margin-left: 8rem;
  color: blue;
}

nav {
  grid-column: 5/ span 2;
}

nav a {
  text-decoration: line-through;
  color: darkgrey;
  font-size: 12pt;
}
